<div class="promocode-card" id="{{id}}">
    <span class="promocode-card__promocode-text">{{promocode}}</span>
    <span class="promocode-card__discount-size">Скидка {{discount}}%</span>
    <div class="promocode-card__copy-button-container"></div>
    {{#if expires_at}}
    <span class="promocode-card__expires-at_desktop">Действителен до: {{expires_at}}</span>
    <span class="promocode-card__expires-at_mobile">До: {{expires_at}}</span>
    {{/if}}
</div>