<tr id="{{id}}" {{#if status}}class="completed"{{/if}}>
    <td>
        {{#if status}}
        Завершён
        {{else}}
        В пути
        {{/if}}
    </td>
    <td>
        {{created_at}}
    </td>
    <td>
        <span>{{final_price}}</span>
        <span>{{products_amount}}</span>
    </td>
    <td>
        <object data="https://doordashers.ru/images_restaurant/{{banner_url}}" type="image/jpg">
            <img src="/src/assets/default_restaurant.jpg" alt="restaurant_image"/>
        </object>
        <span>{{order_products.restaurant_name}}</span>
    </td>
</tr>