<tr id="{{id}}" {{#if completed}}class="completed"{{/if}}>
    <td data-label="Статус">
        {{status}}
    </td>
    <td data-label="Дата">
        {{created_at}}
    </td>
    <td data-label="Сумма">
        <span>{{final_price}} ₽</span>
        <span>{{products_amount}} продуктов</span>
    </td>
    <td data-label="Ресторан">
        <!--<img src="/src/assets/default_restaurant.jpg" alt="restaurant_image"/>-->
        <span>{{order_products.restaurant_name}}</span>
    </td>
    <td class="show-order-button-wrapper">
    </td>
</tr>
