<div class="order-page">
    <div class="order-page__body">
        <h1 class="order-page__header">
            {{#if isPreformed}}
                Заказ №{{orderId}}
            {{else}}
                Оформление заказа
            {{/if}}
        </h1>

        <div class="order-page__delivery">
            <h3>Доставка по адресу:</h3>
            <h4>{{address}}</h4>
            <div class="form__error"></div>
            <div class="order-page__inputs-container" id="form__line_order-page_address"></div>
            <div class="order-page__comment"></div>

            <div class="order-page__leave_by_the_door">
                <input type="checkbox" id="orderPageCheckbox" {{#if isPreformed}}disabled{{/if}}{{#if leaveBytheDoor}}checked{{/if}}>
                <label for="orderPageCheckbox">Оставить у двери</label>
            </div>
        </div>

        <div class="order-page__products">
            <div class="order-page__products__header">
                <h3>Ваш заказ</h3>
                {{#unless isPreformed}}
                <div class="order-page__products__header__clear">
                    <img src="/src/assets/bin.png" alt="bin img">
                    <span>Очистить корзину</span>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
    <div class="order-page__summary">
        <h1>Итого</h1>
        <h3>{{restaurantName}}</h3>
        <hr>
        <h3>Что в цене</h3>
        <div class="order-page__summary__content">
            <span>Товары в заказе</span>
            <div class="order-page__summary__price">
                <span class="cart__total">{{totalPrice}}</span>
                <span>₽</span>
            </div>
        </div>
    </div>
</div>