<div class="order-page">
    <div class="order-page__body">
        <div class="step-progress-bar-container"></div>
        <h1 class="order-page__header {{#if isPreformed}}formed{{/if}}" >
            {{#if isPreformed}}
                Заказ {{orderId}} от {{orderDate}}
            {{else}}
                Оформление заказа
            {{/if}}
        </h1>
        <div class="order-page__delivery">
            <h3>Доставка по адресу:</h3>
            <h4>{{address}}</h4>
            <div class="form__error"></div>
            <div class="order-page__inputs-container" id="form__line_order-page_address"></div>
            <div class="order-page__comment"></div>
        </div>

        <div class="order-page__products">
            <div class="order-page__products__header">
                <h3>Ваш заказ</h3>
                {{#unless isPreformed}}
                <div class="order-page__products__header__clear">
                    <img src="/src/assets/bin.png" alt="bin img">
                    <span>Очистить корзину</span>
                </div>
                {{/unless}}
            </div>
        </div>

        {{#unless isPreformed}}
        <div class="order-page__recommended_products">
            <h3>Вместе с этим часто берут</h3>
        </div>
        {{/unless}}
    </div>
    <div class="order-page__summary">
        <h3>{{restaurantName}}</h3>
        <hr>
        <h3>Что в цене</h3>
        <div class="order-page__summary__additional_content">
            <div class="order-page__summary__content">
                <span>Товары в заказе</span>
                <span class="order-page__summary__price">
                </span>
            </div>

            <div class="order-page__summary__content" >
                <span>Скидка</span>
                <span class="order-page__summary__discount">
                </span>
            </div>

            <hr>
        </div>
        <div class="order-page__summary__content">
            <span>Итого</span>
            <div class="order-page__summary__total">
                <span class="cart__total">{{totalPrice}}</span>
                <span>₽</span>
            </div>
        </div>
    </div>
</div>