<div class="restaurant-card" data-id="{{id}}">
    <img src="{{image}}" alt="{{name}}" class="card-image">
    <div class="restaurant-card-content">
        <h2 class="restaurant-card-title">{{name}}</h2>
        <div class="restaurant-card-info">
            <div class="restaurant-rating"> {{rating}} ⭐</div>
            <div class="restaurant-distance"> {{distance}}</div>
            <div class="restaurant-time"> {{time}}</div>
        </div>
        <div class="restaurant-additional-info">{{additionalInfo}}</div>
    </div>
</div>
