<div class="restaurant-header">
    <div class="restaurant-header__image">
        <object class="restaurant-header__image__background" data="https://doordashers.ru/images_restaurant/{{banner_url}}" type="image/jpg">
            <img class="restaurant-header__image__background" src="/src/assets/default_restaurant.jpg" alt="restaurant_image"/>
        </object>

        <object class="restaurant-header__image__icon" data="https://doordashers.ru/images_restaurant/{{banner_url}}" type="image/jpg">
            <img class="restaurant-header__image__icon" src="/src/assets/default_restaurant.jpg" alt="restaurant_image"/>
        </object>
    </div>
    <div class="restaurant-header__info">
        <span class="restaurant-header__name">{{name}}</span>
        <div class="restaurant-header__description">
            <span id="restaurant-header__rating_score">{{rating}}</span>
            <svg class="star-svg" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.07-.67L12 2 9.24 8.57 2 9.24l5.46 4.73L5.82 21z"></path>
            </svg>
            <span id="restaurant-header__rating_amount">({{rating_count}})</span>
            <span id="restaurant-header__tags">
                {{#each tags}}
                    • {{this}}
                {{/each}}
            </span>
        </div>
    </div>
</div>
