<div class="form__input" id="{{id}}">
    <div class="form__input-head">
        <span>{{label}}</span>
        <div class="form__input__error" id="{{id}}-error"></div>
    </div>
    <div class="form__input__input-container">
        <input type="{{type}}" placeholder="{{placeholder}}" {{#if required}}required{{/if}} id="{{id}}-input">
        <span class="form__input__eye-icon" id="eye-icon">
            <img src="/src/assets/hide.png" alt="eye icon" class="eye-icon">
        </span>
    </div>
</div>
