<div class="form__input" id="{{id}}">
  {{#if description}}
    <div class="form__input_with_description">
      <span>{{label}}</span>
      <span class="form__input_with_description__description">{{description}}</span>
    </div>
  {{else}}
    <span>{{label}}</span>
  {{/if}}
</div>