<div class="product-card" id="{{id}}">
    <object class="product-card__product_icon" data="https://doordashers.ru/images_restaurant/{{image_url}}" type="image/jpg">
        <img class="product-card__product_icon" src="/src/assets/default_product.jpg" />
    </object>

    <div class="product-card__header">
        <span class="product-card__header__name" data-full-name="{{name}}">
            {{name}}
        </span>
        <span class="product-card__header__weight">
            {{weight}} г
        </span>
    </div>

    <div class="product-card__footer">
        <div class="product-card__footer-container">
            <div class="product-card__amount">
                <span class="amount-value">0</span>
                <span class="amount-unit"> шт</span>
            </div>
            <span class="product-card__total-price">
               <span class="product-card__total-price-value">0</span>
                <span class="product-card__total-price-unit">₽</span>
            </span>
        </div>

        <span class="product-card__price">
            <span class="price-value">{{price}}</span>
            <span class="price-unit"> ₽</span>
        </span>
    </div>
</div>
