<div class="product-card" id="{{id}}">
    <img
            src="http://doordashers.ru/images_restaurant/{{image_url}}"
            alt="{{name}}"
            onerror="this.onerror=null; this.src='/src/assets/default_product.jpg';"
    />

    <div class="product-card__header">
        <span>{{name}}</span>
        <span class="product-card__weight">
            {{weight}} г
        </span>
    </div>

    <div class="product-card__footer">
        <div class="product-card__footer-container">
            <div class="product-card__amount">
                <span class="amount-value">0</span>
                <span class="amount-unit"> шт</span>
            </div>
            <span class="product-card__total-price">
               <span class="total-price-value">0</span>
                <span class="total-price-unit"> ₽</span>
            </span>
        </div>

        <span class="product-card__price">
            <span class="price-value">{{price}}</span>
            <span class="price-unit"> ₽</span>
        </span>
    </div>
</div>
