<button class="button" id="{{id}}" type="{{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled{{/if}}>
    {{#if iconSrc}}
        <img src="{{iconSrc}}" alt="{{iconAlt}}" class="button__icon"/>
    {{/if}}
    {{#if text}}
        <span class="button__text">{{text}}</span>
    {{/if}}
</button>
