<div class="form__input" id="{{id}}">
    <div class="form__input-head">
        <span>{{label}}</span>
        <div class="form__input__error"></div>
    </div>
    <input type="{{type}}" id="{{id}}" placeholder="{{placeholder}}" {{#if required}}required{{/if}}>
</div>
