<div class="restaurant__card">
    <img src={{image}} alt="restaurant">
    <span>{{restaurant.name}}</span>
    <span>{{restaurant.rating.score}}★ ({{restaurant.rating.amount}}) - {{restaurant.distance}} км - {{restaurant.deliveryTime}} min</span>
    <span>{{restaurant.desctiption}}</span>
</div>