<div class="restaurant__card" id="{{id}}">
    <img src={{image}} alt="restaurant_image">
    <span class="restaurant__card__name">{{name}}</span>
    <span>{{rating.score}} ★</span>
    <span>{{description}}</span>
</div>