<div class="restaurant__card" id="{{id}}">
    <img src={{image}} alt="restaurant_image">
    <span>{{name}}</span>
    <span>{{rating.score}}★ ({{rating.amount}}) - {{distance}} км - {{deliveryTime}} min</span>
    <span>{{description}}</span>
</div>