<div class="cart-card" id="cart-card-{{id}}">
    <img class="cart-card__product_icon" src="https://doordashers.ru:8443/images_restaurant/{{image_url}}" alt="{{name}}" />
    <div class="cart-card__content">
        <span class="cart-card__content__name">{{name}}</span>
        <div class="cart-card__content__bottom">
            <span class="cart-card__content__total_price">{{total_price}} ₽</span>
            <span>•</span>
            <span class="cart-card__content__weight">{{weight}} г</span>
        </div>
        <div class="cart-card__quantity-controls-wrapper"></div>
    </div>
    <img class="cart-card__bin_icon" src="/src/assets/bin.png" alt="bin icon" />
</div>