<div class="cart-card" id="cart-card-{{id}}">
    <object class="cart-card__product_icon" data="https://doordashers.ru/images_restaurant/{{image_url}}" type="image/jpg">
        <img class="cart-card__product_icon" src="/src/assets/default_product.jpg" />
    </object>
    <div class="cart-card__content">
        <div class="cart-card__content__name">{{name}}</div>
        <div class="cart-card__content__bottom">
            <span class="cart-card__content__total_price">{{total_price}}</span>
            <span> ₽</span>
            <span>•</span>
            <span class="cart-card__content__weight">{{weight}} г</span>
        </div>
        <div class="cart-card__content__quantity-controls-wrapper"></div>
    </div>
    <img class="cart-card__bin_icon" src="/src/assets/close.png" alt="bin icon" />
</div>