<div class="restaurant-detail" id="{{id}}">
    <img src="{{image.src}}" alt="{{image.alt}}">
    <div class="restaurant-detail__container">
        <span class="restaurant-detail__text_main">{{mainText}}</span>
        <span class="restaurant-detail__text_add">{{addText}}</span>
    </div>
</div>