<div class="restaurant-review" id="{{id}}">
    <span id="restaurant-review__text">“{{text}}”</span>
    <span id="restaurant-review__detail">{{generateStars rating}} {{author}} {{date}}</span>
</div>