<div class="suggest-item" id="{{id}}">
    <div class="suggest-header">
        <span class="suggest-message">{{{text}}}</span>
    </div>

    <div class="suggest-subtitle">
        {{#if subtitle}}
            {{subtitle}}
        {{else}}
            {{address}}
        {{/if}}
    </div>
</div>
