<div class="restaurant-page" data-id="{{restaurantDetail.id}}">
    <img src="{{restaurantDetail.image}}" alt="{{restaurantDetail.name}}" class="card-image">
    <div class="restaurant-content">
        <h1 class="restaurant-title">{{restaurantDetail.name}}</h1>
        <div class="restaurant-additional-info">{{restaurantDetail.additionalInfo}}</div>
        <h2>Ratings and Reviews</h2>
        <div class="restaurant-details">
            <div class="restaurant-rating">{{restaurantDetail.rating}} â­</div>
            <div class="restaurant-hours-address">
                <div class="restaurant-hours">{{openStatus}}</div>
                <div class="restaurant-address">{{restaurantDetail.address}}</div>
            </div>
        </div>
    </div>
</div>
